# Dividend payout trend

In [1]:
# To support both python 2 and python 3
from __future__ import division, print_function, unicode_literals

# Common imports
import numpy as np
import pandas as pd
import datetime as dt
import calendar as cal
import os

# to make this notebook's output stable across runs
np.random.seed(42)

# To plot pretty figures
%matplotlib inline
import matplotlib
import matplotlib.pyplot as plt
plt.rcParams['axes.labelsize'] = 14
plt.rcParams['xtick.labelsize'] = 12
plt.rcParams['ytick.labelsize'] = 12

# Where to save the figures
PROJECT_ROOT_DIR = "."
CHAPTER_ID = "end_to_end_project"
IMAGES_PATH = os.path.join(PROJECT_ROOT_DIR, "images", CHAPTER_ID)

def save_fig(fig_id, tight_layout=True, fig_extension="png", resolution=300):
    path = os.path.join(IMAGES_PATH, fig_id + "." + fig_extension)
    print("Saving figure", fig_id)
    if tight_layout:
        plt.tight_layout()
    plt.savefig(path, format=fig_extension, dpi=resolution)

# Ignore useless warnings (see SciPy issue #5998)
import warnings
warnings.filterwarnings(action="ignore", module="scipy", message="^internal gelsd")

from IPython.display import display
pd.options.display.max_columns = 50

## Read the high yields stock and dividends file

In [12]:
df_stocks =  pd.read_csv('../dataset/KLSE_category_2.csv')
display(df_stocks)
df_dividends = pd.read_csv('../dataset/KLSE_dividends_i3investor.csv')
display(df_dividends)

,code,name,yield_sum,yield_mean
0,5191,Tambun Indah Land Bhd (TAMB),49.69,16.56330
1,5272,Ranhill Holdings Ltd (RANH),48.11,24.05500
2,5161,JCY International Bhd (JCYI),47.34,23.67000
3,5254,Boustead Plantations Bhd (BOPL),47.29,23.64500
4,6084,Star Media Group Bhd (STAR),45.65,15.21670
5,5078,Marine & General Bhd (MARI),45.45,45.45000
6,8524,Taliworks Corporation Bhd (TWRK),42.03,21.01500
7,4502,Media Prima Bhd (MPRM),41.03,20.51500
8,5010,Tong Herr Resources Bhd (THRB),40.67,13.55670
9,3859,Magnum Bhd (MAGM),39.69,19.84500
10,7157,CYL Corporation Bhd (CYLC),39.21,13.07000
11,6009,Pacific Orient Bhd (PACO),38.43,19.21500
12,1562,Berjaya Sports Toto Bhd (BSTB),37.92,18.96000
13,5095,HeveaBoard Bhd (HEVE),37.69,18.84500
14,5180,CapitaLand Malaysia Mall Trust (CAMA),36.07,12.02330
15,5109,YTL Hospitality REIT (YTLR),36.05,18.02500
16,1198,MAA Group Bhd (MAAS),35.97,17.98500
17,5436,Perusahaan Sadur Timah Malaysia Perstima Bhd (...,34.68,11.56000
18,7237,Power Root Bhd (POWE),34.63,17.31500
19,5236,Matrix Concepts Holdings Bhd (MATR),33.15,16.57500
20,5176,Sunway Real Estate Investment Trust (SUNW),33.08,16.54000
21,7099,Atta Global Group Bhd (ATTA),32.50,16.25000
22,5123,MRCB-Quill REIT Unit (MQRE),31.49,10.49670
23,5121,Hektar Real Estate Investment Trust (HEKR),31.31,15.65500
24,7089,Lii Hen Industries Bhd (LHEN),30.33,15.16500
25,7374,Tien Wah Press Holdings Bhd (TWPH),30.27,15.13500
26,5070,Protasco Bhd (PRTO),29.67,14.83500
27,5090,Media Chinese International Ltd (MDCH),29.38,14.69000
28,5212,Pavilion Real Estate Inv Trust (PREI),29.23,9.74333
29,2771,Boustead Holdings Bhd (BOUS),29.12,14.56000
...,...,...,...,...
78,5024,Hup Seng Industries Bhd (HSIB),11.54,11.54000
79,5112,TH Plantations Bhd (THPB),11.40,11.40000
80,7107,Oriental Food Industries Hold (OFIH),11.27,11.27000
81,9148,Advanced Packaging Tech (Malaysia) (APTB),11.20,11.20000
82,6963,VS Industry Bhd (VSID),11.09,11.09000
83,5094,CSC Steel Holdings Bhd (CSTH),11.08,11.08000
84,1724,Paramount Corporation Bhd (PRMS),10.76,10.76000
85,5062,Hua Yang Bhd (HUAY),10.66,10.66000
86,7133,United U Li Corporation Bhd (UULI),10.63,10.63000
87,5147,Samchem Holdings Bhd (SAHB),10.56,10.56000
88,5005,Unisem M Bhd (UNSM),10.55,10.55000
89,5125,Pantech Group Holdings Bhd (PNTE),10.48,10.48000
90,5202,MSM Malaysia Holdings Bhd (MSMH),10.48,10.48000
91,5159,Yoong Onn Corporation Bhd (YGON),10.39,10.39000
92,6173,Bina Darulaman Bhd (BDBS),10.23,10.23000
93,5007,Chin Well Holdings Bhd (CWHB),10.22,10.22000
94,2836,Carlsberg Brewery Malaysia Bhd (CBMS),10.19,10.19000
95,5015,APM Automotive Holdings Bhd (APMA),9.99,9.99000
96,5138,Hap Seng Plantations Holdings Bhd (HAPP),9.98,9.98000
97,3662,Malayan Flour Mills Bhd (MFMS),9.84,9.84000
98,5053,OSK Holdings Bhd (OSKH),9.79,9.79000
99,6556,Ann Joo Resources Bhd (ANNJ),9.74,9.74000
100,6645,Lingkaran Trans Kota Holdings Bhd (LTKH),9.55,9.55000
101,7033,Kumpulan H & L High-Tech Bhd (KHLH),9.42,9.42000
102,5681,Petronas Dagangan Bhd (PETR),9.41,9.41000
103,5081,Esthetics International Group (ESTH),9.24,9.24000
104,5099,Airasia Bhd (AIRA),9.13,9.13000
105,5278,Rhone Ma Holdings Bhd (RHON),8.86,8.86000
106,5162,ECS ICT Bhd (ECSI),8.75,8.75000
107,5143,Luxchem Corporation Bhd (LCBH),8.50,8.50000

,code,ann_date,ex_date,payment_date,dividend_type,subject,amount
0,0012,06-Nov-2017,24-Nov-2017,12-Dec-2017,DIVIDEND,First Interim Dividend,RM 0.018
1,0012,11-May-2017,23-May-2017,25-May-2017,BONUS_ISSUE,Bonus Issue,1 : 4
2,0012,15-Nov-2016,25-Nov-2016,13-Dec-2016,DIVIDEND,Interim Dividend,RM 0.018
3,0012,24-Nov-2015,16-Dec-2015,08-Jan-2016,DIVIDEND,Interim Dividend,7.0000%
4,0012,28-Nov-2014,18-Dec-2014,05-Jan-2015,DIVIDEND,Interim Dividend,7%
5,0012,29-Nov-2013,18-Dec-2013,08-Jan-2014,DIVIDEND,Interim Dividend,6%
6,0012,27-Nov-2012,21-Dec-2012,11-Jan-2013,DIVIDEND,Interim Dividend,6%
7,0012,22-Nov-2011,19-Dec-2011,10-Jan-2012,DIVIDEND,Interim Dividend,6%
8,0012,29-Nov-2010,21-Dec-2010,11-Jan-2011,DIVIDEND,Interim Dividend,6%
9,0012,17-Dec-2009,31-Dec-2009,19-Jan-2010,DIVIDEND,Interim Dividend,8%
10,0012,10-Feb-2009,23-Feb-2009,11-Mar-2009,DIVIDEND,Interim Dividend,5%
11,0012,29-May-2008,13-Jun-2008,17-Jun-2008,BONUS_ISSUE,Bonus Issue,3 : 5
12,0012,28-Jan-2008,13-Feb-2008,03-Mar-2008,DIVIDEND,Interim Dividend,6%
13,0012,10-Jan-2007,25-Jan-2007,13-Feb-2007,DIVIDEND,Interim Dividend,6%
14,0012,28-Jun-2005,13-Jul-2005,15-Jul-2005,BONUS_ISSUE,Bonus Issue,1 : 4
15,7054,12-May-2016,25-May-2016,27-May-2016,BONUS_ISSUE,Bonus Issue,9 : 2
16,7054,16-Jun-2014,21-Aug-2014,15-Sep-2014,DIVIDEND,Interim Dividend,RM 0.02
17,7054,12-Jun-2013,16-Aug-2013,17-Sep-2013,DIVIDEND,Interim Dividend,RM 0.02
18,7054,08-Jun-2012,27-Jun-2012,27-Jul-2012,DIVIDEND,Interim Dividend,RM 0.03
19,7054,31-May-2011,08-Jul-2011,08-Aug-2011,DIVIDEND,Interim Dividend,RM 0.02
20,7054,10-May-2010,18-Jun-2010,08-Jul-2010,DIVIDEND,First and Final Dividend,RM 0.02
21,7054,06-May-2009,11-Jun-2009,08-Jul-2009,DIVIDEND,First and Final Dividend,3.5%
22,7054,25-Apr-2008,26-May-2008,03-Jul-2008,DIVIDEND,First and Final Dividend,RM 0.05
23,7054,07-Feb-2007,15-Mar-2007,18-Apr-2007,DIVIDEND,Second interim dividend,RM 0.035
24,7054,29-Sep-2006,20-Oct-2006,15-Nov-2006,DIVIDEND,Interim Dividend,RM 0.015
25,7054,19-May-2003,25-Jun-2003,28-Jul-2003,DIVIDEND,First and Final Dividend,1.5%
26,7054,28-Jun-2002,15-Jul-2002,17-Jul-2002,BONUS_ISSUE,Bonus Issue,1 : 2
27,7054,22-May-2002,26-Jun-2002,26-Jul-2002,DIVIDEND,First and Final Dividend,2.5%
28,7054,17-May-2001,19-Jun-2001,13-Jul-2001,DIVIDEND,First and Final Dividend,RM 0.025
29,7054,04-Aug-2000,29-Aug-2000,05-Sep-2000,RIGHTS_ISSUE,Rights Issue,2 : 3
...,...,...,...,...,...,...,...
15108,5131,19-Jan-2012,08-Feb-2012,24-Feb-2012,DIVIDEND,Interim Dividend,RM 0.03
15109,5131,12-Apr-2012,07-May-2012,23-May-2012,DIVIDEND,Interim Dividend,RM 0.03
15110,5131,11-Jul-2012,30-Jul-2012,23-Aug-2012,DIVIDEND,Interim Dividend,RM 0.03
15111,5131,24-Oct-2012,12-Nov-2012,07-Dec-2012,DIVIDEND,Interim Dividend,RM 0.03
15112,5131,23-Jan-2013,13-Feb-2013,13-Mar-2013,DIVIDEND,Interim Dividend,RM 0.03
15113,5131,23-Jan-2013,13-Feb-2013,13-Mar-2013,DIVIDEND,Special Dividend,RM 0.035
15114,5131,17-Apr-2013,06-May-2013,28-May-2013,DIVIDEND,First Interim Dividend,RM 0.03
15115,5131,17-Jul-2013,05-Aug-2013,28-Aug-2013,DIVIDEND,Second interim dividend,RM 0.03
15116,5131,16-Oct-2013,06-Nov-2013,29-Nov-2013,DIVIDEND,Interim Dividend,RM 0.03
15117,5131,22-Jan-2014,12-Feb-2014,07-Mar-2014,DIVIDEND,Interim Dividend,RM 0.03
15118,5131,22-Jan-2014,12-Feb-2014,07-Mar-2014,DIVIDEND,Special Dividend,RM 0.04
15119,5131,16-Apr-2014,05-May-2014,30-May-2014,DIVIDEND,First Interim Dividend,RM 0.03
15120,5131,16-Jul-2014,04-Aug-2014,29-Aug-2014,DIVIDEND,Second interim dividend,RM 0.03
15121,5131,15-Oct-2014,03-Nov-2014,28-Nov-2014,DIVIDEND,Interim Dividend,RM 0.02
15122,5131,21-Jan-2015,09-Feb-2015,11-Mar-2015,DIVIDEND,Interim Dividend,RM 0.02
15123,5131,15-Apr-2015,28-Apr-2015,27-May-2015,DIVIDEND,First Interim Dividend,RM 0.015
15124,5131,15-Jul-2015,29-Jul-2015,27-Aug-2015,DIVIDEND,Second interim dividend,RM 0.0150
15125,5131,15-Oct-2015,29-Oct-2015,27-Nov-2015,DIVIDEND,Interim Dividend,RM 0.0150
15126,5131,22-Jan-2016,15-Feb-2016,16-Mar-2016,DIVIDEND,Interim Dividend,RM 0.0150
15127,5131,13-Apr-2016,09-May-2016,03-Jun-2016,DIVIDEND,First Interim Dividend,RM 0.0150
15128,5131,13-Jul-2016,10-Aug-2016,09-Sep-2016,DIVIDEND,Second interim dividend,RM 0.015
15129,5131,12-Oct-2016,01-Nov-2016,25-Nov-2016,DIVIDEND,Interim Dividend,RM 0.015
15130,5131,25-Jan-2017,14-Feb-2017,10-Mar-2017,DIVIDEND,Interim Dividend,RM 0.015
15131,5131,12-Apr-2017,08-May-2017,02-Jun-2017,DIVIDEND,First Interim Dividend,RM 0.015
15132,5131,12-Jul-2017,09-Aug-2017,08-Sep-2017,DIVIDEND,Second interim dividend,RM 0.015
15133,5131,11-Oct-2017,01-Nov-2017,24-Nov-2017,DIVIDEND,Interim Dividend,RM 0.015
15134,5131,24-Jan-2018,12-Feb-2018,09-Mar-2018,DIVIDEND,Interim Dividend,RM 0.015
15135,5131,24-Jan-2018,12-Feb-2018,09-Mar-2018,DIVIDEND,Special Dividend,RM 0.015
15136,5131,10-May-2018,14-May-2018,08-Jun-2018,DIVIDEND,First Interim Dividend,RM 0.02
15137,5131,18-Jul-2018,15-Aug-2018,12-Sep-2018,DIVIDEND,Second interim dividend,RM 0.02

## Read the trending and due ex-dividend dates for next 2 months

In [8]:
for stock in df_stocks:
    print(stock)

code
name
yield_sum
yield_mean