# KLSE - Preprocess, Cluster/Categorize the Stocks

In [179]:
# To support both python 2 and python 3
from __future__ import division, print_function, unicode_literals

# Common imports
import numpy as np
import pandas as pd
import datetime as dt
import calendar as cal
import os

# to make this notebook's output stable across runs
np.random.seed(42)

# To plot pretty figures
%matplotlib inline
import matplotlib
import matplotlib.pyplot as plt
plt.rcParams['axes.labelsize'] = 14
plt.rcParams['xtick.labelsize'] = 12
plt.rcParams['ytick.labelsize'] = 12

# Where to save the figures
PROJECT_ROOT_DIR = "."
CHAPTER_ID = "end_to_end_project"
IMAGES_PATH = os.path.join(PROJECT_ROOT_DIR, "images", CHAPTER_ID)

def save_fig(fig_id, tight_layout=True, fig_extension="png", resolution=300):
    path = os.path.join(IMAGES_PATH, fig_id + "." + fig_extension)
    print("Saving figure", fig_id)
    if tight_layout:
        plt.tight_layout()
    plt.savefig(path, format=fig_extension, dpi=resolution)

# Ignore useless warnings (see SciPy issue #5998)
import warnings
warnings.filterwarnings(action="ignore", module="scipy", message="^internal gelsd")

# Load the stock master file

In [180]:
df_stocks = pd.read_csv('../dataset/KLSE_investing.csv', index_col=['name'])
df_stocks.head(10)

,link,last,high,low,change,change_percent,volume
name,,,,,,,
Priceworth International,https://www.investing.com/equities/priceworth-...,0.045,0.055,0.045,-0.005,-10.00%,223.12M
Sapura Energy,https://www.investing.com/equities/sapurakenca...,0.335,0.345,0.335,0.000,0.00%,53.62M
Borneo Oil,https://www.investing.com/equities/borneo-oil-bhd,0.055,0.060,0.055,0.000,0.00%,50.93M
MY EG Services,https://www.investing.com/equities/my-eg-servi...,1.630,1.700,1.620,-0.020,-1.21%,35.62M
Tiger Synergy Bhd,https://www.investing.com/equities/tiger-syner...,0.070,0.075,0.065,-0.005,-6.67%,29.80M
Nova MSC,https://www.investing.com/equities/nova-msc-bhd,0.160,0.160,0.145,0.005,+3.23%,22.05M
Frontken Corp,https://www.investing.com/equities/frontken-co...,0.920,0.960,0.915,0.000,0.00%,20.90M
Globaltec Formation,https://www.investing.com/equities/globaltec-f...,0.040,0.045,0.035,-0.005,-11.11%,19.77M
AirAsia X,https://www.investing.com/equities/airasia-x-bhd,0.290,0.305,0.290,-0.010,-3.33%,19.08M
Nexgram,https://www.investing.com/equities/nexgram-hol...,0.025,0.025,0.020,0.000,0.00%,15.68M

# Load dividends file

In [191]:
df_dividends = pd.read_csv('../dataset/KLSE_dividends_investing.csv', dtype=str)
df_dividends.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2315 entries, 0 to 2314
Data columns (total 6 columns):
code                2315 non-null object
name                2315 non-null object
ex_dividend_date    2315 non-null object
dividend            2315 non-null object
payment_date        2315 non-null object
yield               2315 non-null object
dtypes: object(6)
memory usage: 108.6+ KB

In [192]:
df_dividends.describe()

,code,name,ex_dividend_date,dividend,payment_date,yield
count,2315,2315,2315,2315,2315,2315
unique,585,585,761,429,747,710
top,7237,Genting Plantations Bhd (GENP),"Jun 28, 2017",0.02,"Jun 30, 2017",-
freq,6,6,30,136,21,61

In [193]:
df_dividends.columns

Index(['code', 'name', 'ex_dividend_date', 'dividend', 'payment_date',
       'yield'],
      dtype='object')

# Display some data

In [194]:
df_dividends.head(10)

,code,name,ex_dividend_date,dividend,payment_date,yield
0,5218,Sapura Energy Bhd (SAEN),"Apr 12, 2017",0.01,"Apr 28, 2017",2.94%
1,5218,Sapura Energy Bhd (SAEN),"Jul 29, 2015",0.0135,"Aug 28, 2015",0.72%
2,138,MY EG Services Bhd (MYEG),"Apr 24, 2018",0.017,"May 25, 2018",1.30%
3,138,MY EG Services Bhd (MYEG),"Jan 04, 2018",0.017,"Feb 06, 2018",0.63%
4,138,MY EG Services Bhd (MYEG),"Apr 21, 2017",0.0137,"May 24, 2017",0.64%
5,138,MY EG Services Bhd (MYEG),"Dec 23, 2016",0.012,"Jan 25, 2017",0.74%
6,138,MY EG Services Bhd (MYEG),"Apr 22, 2016",0.012,"May 24, 2016",0.56%
7,138,MY EG Services Bhd (MYEG),"Jan 04, 2016",0.0095,"Feb 04, 2016",0.44%
8,128,Frontken Corporation Bhd (FRKN),"Sep 15, 2017",0.005,"Oct 04, 2017",0.60%
9,9385,Lay Hong Bhd (LAYH),"Oct 18, 2018",0.005,"Nov 15, 2018",0.79%

## Preprocess the data for training

In [198]:
df_dividends_train = df_dividends.copy()
df_dividends_train['dividend_year'] = pd.to_datetime(df_dividends_train['ex_dividend_date'], format='%b %d, %Y').dt.year
#df_dividends_train = df_dividends.drop(['ex_dividend_date', 'payment_date'], axis=1)
# df_dividends_train['yield'] = df_dividends_train['yield'].map({'-': '0'})
df_dividends_train['yield'] = df_dividends_train['yield'].replace('-','0')
df_dividends_train['yield'] = df_dividends_train['yield'].str.rstrip('%').astype('float')
df_dividends_train.head()

,code,name,ex_dividend_date,dividend,payment_date,yield,dividend_year
0,5218,Sapura Energy Bhd (SAEN),"Apr 12, 2017",0.01,"Apr 28, 2017",2.94,2017
1,5218,Sapura Energy Bhd (SAEN),"Jul 29, 2015",0.0135,"Aug 28, 2015",0.72,2015
2,138,MY EG Services Bhd (MYEG),"Apr 24, 2018",0.017,"May 25, 2018",1.30,2018
3,138,MY EG Services Bhd (MYEG),"Jan 04, 2018",0.017,"Feb 06, 2018",0.63,2018
4,138,MY EG Services Bhd (MYEG),"Apr 21, 2017",0.0137,"May 24, 2017",0.64,2017

### Apply one-hot encoding to code

In [199]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

label_encoder = LabelEncoder()
code = df_dividends_train['code']
code_encoded = label_encoder.fit_transform(code)
code_encoded

array([293, 293,  65, ...,  48, 231, 231])

In [200]:
print(labelEncoder.classes_)

['0001' '0011' '0012' '0023' '0024' '0028' '0032' '0037' '0039' '0040'
 '0050' '0053' '0054' '0056' '0059' '0084' '0089' '0090' '0093' '0099'
 '0100' '0101' '0104' '0105' '0106' '0108' '0111' '0112' '0113' '0120'
 '0123' '0127' '0136' '0146' '0148' '0151' '0153' '0158' '0161' '0163'
 '0171' '0172' '0178' '0179' '0182' '0183' '0185' '0186' '0191' '0193'
 '0195' '1007' '1015' '1023' '1058' '1066' '1082' '1147' '1155' '1163'
 '1171' '1198' '128' '1295' '1368' '138' '1481' '149' '1503' '1538' '1562'
 '1619' '1651' '166' '168' '1724' '1783' '1818' '1899' '1929' '1961'
 '1996' '2' '2038' '2054' '2062' '2089' '21' '2127' '2135' '2186' '2194'
 '2216' '2224' '2291' '2305' '2445' '2453' '2488' '2542' '2569' '2593'
 '2607' '2658' '2674' '2755' '2771' '2828' '2836' '2852' '2879' '2925'
 '2984' '3026' '3034' '3042' '3069' '3107' '3158' '3174' '3182' '3204'
 '3239' '3247' '3255' '3298' '3301' '3336' '3379' '3379PA' '3395' '3417'
 '3476' '35' '3514' '3522' '3611' '3662' '3689' '3719' '3794' '3816'
 '3859' '3867' '3883' '3921' '4006' '4057' '4065' '4197' '4243' '4251'
 '4324' '4383' '4405' '4448' '4456' '4502' '4588' '4596' '4634' '4677'
 '4707' '4715' '4731' '4863' '4898' '49' '4944' '4952' '5000' '5001'
 '5005' '5007' '5008' '5009' '5010' '5011' '5012' '5014' '5015' '5016'
 '5020' '5021' '5022' '5024' '5026' '5027' '5028' '5029' '5031' '5032'
 '5035' '5038' '5041' '5042' '5047' '5048' '5049' '5053' '5054' '5056'
 '5062' '5065' '5066' '5069' '5070' '5071' '5072' '5073' '5075' '5077'
 '5078' '5080' '5081' '5084' '5085' '5088' '5090' '5094' '5095' '5098'
 '5099' '5100' '5101' '5102' '5104' '5105' '5107' '5109' '5110' '5111'
 '5112' '5120' '5121' '5123' '5125' '5126' '5127' '5129' '5130' '5131'
 '5132' '5133' '5134' '5135' '5136' '5138' '5139' '5140' '5141' '5142'
 '5143' '5147' '5148' '5152' '5155' '5158' '5159' '5160' '5161' '5162'
 '5163' '5166' '5167' '5168' '5170' '5171' '5176' '5180' '5181' '5182'
 '5183' '5184' '5185' '5186' '5190' '5191' '5192' '5196' '5197' '5200'
 '5202' '5204' '5205' '5207' '5208' '5209' '5210' '5211' '5212' '5213'
 '5216' '5218' '5219' '5222' '5223' '5225' '5226' '5227' '5228' '5230'
 '5232' '5235SS' '5236' '5239' '5242' '5243' '5245' '5246' '5247' '5248'
 '5249' '5250' '5252' '5253' '5254' '5258' '5259' '5260' '5263' '5264'
 '5267' '5268' '5269' '5271' '5272' '5273' '5275' '5276' '5277' '5278'
 '5279' '5280' '5284' '5288' '5347' '5355' '5371' '5398' '5401' '5436'
 '5517' '5533' '5568' '5576' '5584' '5592' '5606' '5614' '5665' '5673'
 '5681' '5703' '5789' '5797' '58' '5819' '5827' '5843' '5878' '5886'
 '5908' '5916' '5932' '5959' '5983' '6009' '6012' '6017' '6033' '6041'
 '6068' '6084' '6114' '6139' '6149' '6173' '6181' '6203' '6238' '6262'
 '6351' '6399' '6432' '6483' '6491' '65' '6521' '6556' '6572' '6599'
 '6645' '6718' '6742' '6769' '6807' '6815' '6874' '6888' '6904' '6939'
 '6947' '6963' '6971' '7003' '7004' '7006' '7014' '7016' '7022' '7029'
 '7033' '7034' '7035' '7043' '7047' '7048' '7052' '7053' '7054' '7055'
 '7060' '7062' '7073' '7076' '7078' '7081' '7082' '7083' '7084' '7085'
 '7087' '7088' '7089' '7090' '7091' '7095' '7099' '7100' '7103' '7106'
 '7107' '7111' '7113' '7117' '7119' '7120' '7128' '7129' '7132' '7133'
 '7134' '7137' '7140' '7148' '7149' '7152' '7153' '7154' '7155' '7157'
 '7161' '7162' '7167' '7168' '7169' '7172' '7173' '7174' '7178' '7186'
 '7189' '7190' '7199' '7200' '7201' '7202' '7203' '7204' '7205' '7207'
 '7209' '7210' '7213' '7214' '7215' '7216' '7217' '7222' '7227' '7229'
 '7230' '7231' '7232' '7233' '7235' '7237' '7245' '7246' '7247' '7248'
 '7249' '7250' '7252' '7277' '7285' '7293' '7323' '7374' '7382' '7412'
 '7501' '7528' '7579' '7609' '7617' '7668' '7676' '7722' '7757' '7773'
 '78' '7803' '7811' '7854' '8' '8052' '8079' '8125' '8133' '8141' '8192'
 '83' '8311' '8397' '8419' '8443' '8494' '8524' '8567' '8583' '8591'
 '8605' '8613' '8621' '8648' '8664' '8702' '8761' '8834' '8869' '8877'
 '8893' '8931' '8966' '8982' '9016' '9059' '9148' '9172' '9199' '9261'
 '9288' '9296' '9318' '9326' '9334' '9369' '9385' '9423' '9431' '9466'
 '9571' '9598' '9679' '97' '9741' '9792' '9822' '9865' '9873' '9946'
 '9962' '9997']

In [201]:
one_hot_encoder = OneHotEncoder()
code_1hot = one_hot_encoder.fit_transform(code_encoded.reshape(-1,1))
code_1hot

<2315x585 sparse matrix of type '<class 'numpy.float64'>'
	with 2315 stored elements in Compressed Sparse Row format>

In [202]:
code_1hot.toarray()

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

### Use LabelBinarizer

In [203]:
from sklearn.preprocessing import LabelBinarizer
label_binarizer = LabelBinarizer()
code_1hot = label_binarizer.fit_transform(code)
code_1hot

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

## Build the preprocessing pipelines