In [1]:
import numpy as np
import pandas as pd
import datetime
import calendar

In [4]:
df_klse_lookup = pd.read_csv('../dataset/KLSE_lookup.csv')
df_klse_lookup.head(10)

    symbol                                  name  code
0       3A                 THREE-A RESOURCES BHD  0012
1    AASIA                       ASTRAL ASIA BHD  7054
2      AAX                         AIRASIA X BHD  5238
3  ABLEGRP                         ABLEGROUP BHD  7086
4     ABMB            ALLIANCE BANK MALAYSIA BHD  2488
5     ACME                     ACME HOLDINGS BHD  7131
6  ACOSTEC                         ACOUSTECH BHD  7120
7   ADVCON               ADVANCECON HOLDINGS BHD  5281
8  ADVENTA                           ADVENTA BHD  7191
9   ADVPKG  ADVANCE PACKAGING TECHNOLOGY (M) BHD  9148

In [9]:
df_klse_lookup['klse_code'] = df_klse_lookup['code'] + '.KL'
df_klse_lookup.head(10)

    symbol                                  name  code klse_code
0       3A                 THREE-A RESOURCES BHD  0012   0012.KL
1    AASIA                       ASTRAL ASIA BHD  7054   7054.KL
2      AAX                         AIRASIA X BHD  5238   5238.KL
3  ABLEGRP                         ABLEGROUP BHD  7086   7086.KL
4     ABMB            ALLIANCE BANK MALAYSIA BHD  2488   2488.KL
5     ACME                     ACME HOLDINGS BHD  7131   7131.KL
6  ACOSTEC                         ACOUSTECH BHD  7120   7120.KL
7   ADVCON               ADVANCECON HOLDINGS BHD  5281   5281.KL
8  ADVENTA                           ADVENTA BHD  7191   7191.KL
9   ADVPKG  ADVANCE PACKAGING TECHNOLOGY (M) BHD  9148   9148.KL

In [7]:
df_clustered_tickers = pd.read_csv('../dataset/KLS_clustered_equities.csv')
df_clustered_tickers.head(10)

,symbol,name,amount,year,previousClose,open,trailingPE,volume,yield_return,symbol_id,cluster
0,0008.KL,WILLOWGLEN MSC BHD,0.0200,2015,0.55,0.55,NaN,131500,3.64,0,1
1,0008.KL,WILLOWGLEN MSC BHD,0.0200,2016,0.55,0.55,NaN,131500,3.64,0,1
2,0008.KL,WILLOWGLEN MSC BHD,0.0200,2017,0.55,0.55,NaN,131500,3.64,0,1
3,0011.KL,BRITE-TECH BHD,0.0189,2015,0.24,0.25,NaN,80000,7.88,1,1
4,0011.KL,BRITE-TECH BHD,0.0136,2016,0.24,0.25,NaN,80000,5.67,1,1
5,0011.KL,BRITE-TECH BHD,0.0160,2017,0.24,0.25,NaN,80000,6.67,1,1
6,0012.KL,THREE-A RESOURCES BHD,0.0140,2015,0.94,0.94,NaN,147300,1.49,2,1
7,0012.KL,THREE-A RESOURCES BHD,0.0180,2016,0.94,0.94,NaN,147300,1.91,2,1
8,0012.KL,THREE-A RESOURCES BHD,0.0180,2017,0.94,0.94,NaN,147300,1.91,2,1
9,0023.KL,IFCA MSC BHD,0.0100,2015,0.28,0.28,NaN,496600,3.57,3,1

In [27]:
df_analysis = pd.merge(df_clustered_tickers, df_klse_lookup, how='left', left_on='symbol', right_on='klse_code')
df_analysis.drop(['symbol_id', 'trailingPE', 'code', 'klse_code'], axis=1, inplace=True)
df_analysis.rename(columns={'symbol_y': 'symbol'}, inplace=True)
df_analysis.query('cluster == 3').head(50)

,symbol_x,name_x,amount,year,previousClose,open,volume,yield_return,cluster,symbol,name_y
77,0158.KL,SCC HOLDINGS BERHAD,0.05000,2015,0.490,0.500,22000,10.20,3,SCC,SCC HOLDINGS BHD
78,0158.KL,SCC HOLDINGS BERHAD,0.05000,2016,0.490,0.500,22000,10.20,3,SCC,SCC HOLDINGS BHD
79,0158.KL,SCC HOLDINGS BERHAD,0.11600,2017,0.490,0.500,22000,23.67,3,SCC,SCC HOLDINGS BHD
137,1171.KL,Malaysia Building Society Bhd,0.10000,2015,1.180,1.180,2622400,8.47,3,MBSB,MALAYSIA BUILDING SOCIETY BHD
140,1198.KL,MAA Group Berhad,0.06000,2015,0.655,0.635,37400,9.16,3,MAA,MAA GROUP BHD
141,1198.KL,MAA Group Berhad,0.06000,2016,0.655,0.635,37400,9.16,3,MAA,MAA GROUP BHD
142,1198.KL,MAA Group Berhad,0.09000,2017,0.655,0.635,37400,13.74,3,MAA,MAA GROUP BHD
155,1538.KL,Symphony Life Berhad,0.05000,2015,0.610,0.600,130000,8.20,3,SYMLIFE,SYMPHONY LIFE BHD
157,1538.KL,Symphony Life Berhad,0.06000,2017,0.610,0.600,130000,9.84,3,SYMLIFE,SYMPHONY LIFE BHD
167,1651.KL,Malaysian Resources Corporation Berhad,0.05500,2017,0.645,0.645,4271300,8.53,3,MRCB,MALAYSIAN RESOURCES CORP BHD
244,2771.KL,Boustead Holdings Bhd,0.21000,2015,2.480,2.480,108000,8.47,3,BSTEAD,BOUSTEAD HOLDINGS BHD
315,3859.KL,Magnum Berhad,0.17500,2015,2.230,2.220,653200,7.85,3,MAGNUM,MAGNUM BHD
333,4162.KL,British American Tobacco Malaysia Bhd,3.12000,2015,35.880,35.900,616100,8.70,3,BAT,BRITISH AMERICAN TOBACCO MALAYSIA BHD
351,4448.KL,Tasek Corporation Berhad,0.90000,2015,7.000,7.080,1200,12.86,3,TASEK,TASEK CORP BHD
352,4448.KL,Tasek Corporation Berhad,0.80000,2016,7.000,7.080,1200,11.43,3,TASEK,TASEK CORP BHD
353,4448.KL,Tasek Corporation Berhad,0.60000,2017,7.000,7.080,1200,8.57,3,TASEK,TASEK CORP BHD
354,4502.KL,Media Prima Bhd,0.10000,2015,0.495,0.500,3335100,20.20,3,MEDIA,MEDIA PRIMA BHD
355,4502.KL,Media Prima Bhd,0.09000,2016,0.495,0.500,3335100,18.18,3,MEDIA,MEDIA PRIMA BHD
356,4502.KL,Media Prima Bhd,0.04000,2017,0.495,0.500,3335100,8.08,3,MEDIA,MEDIA PRIMA BHD
381,4952.KL,Amanah Harta Tanah PNB,0.07200,2015,0.750,0.750,20600,9.60,3,AHP,AMANAH HARTA TANAH PNB
382,4952.KL,Amanah Harta Tanah PNB,0.06500,2016,0.750,0.750,20600,8.67,3,AHP,AMANAH HARTA TANAH PNB
394,5008.KL,Harrisons Holdings (Malaysia) Berhad,0.30000,2015,4.000,4.060,5000,7.50,3,HARISON,HARRISONS HOLDINGS (MALAYSIA) BHD
402,5010.KL,Tong Herr Resources Bhd,0.38000,2017,3.330,3.340,17400,11.41,3,TONGHER,TONG HERR RESOURCES BHD
403,5012.KL,TA Ann Holdings Bhd,0.20000,2015,2.600,2.600,206500,7.69,3,TAANN,TA ANN HOLDINGS BHD
415,5020.KL,Glomac Berhad,0.04250,2015,0.455,0.455,77700,9.34,3,GLOMAC,GLOMAC BHD
416,5020.KL,Glomac Berhad,0.04000,2016,0.455,0.455,77700,8.79,3,GLOMAC,GLOMAC BHD
427,5027.KL,Kim Loong Resources Berhad,0.13000,2015,1.310,1.320,29300,9.92,3,KMLOONG,KIM LOONG RESOURCES BHD
428,5027.KL,Kim Loong Resources Berhad,0.13000,2016,1.310,1.320,29300,9.92,3,KMLOONG,KIM LOONG RESOURCES BHD
429,5027.KL,Kim Loong Resources Berhad,0.17000,2017,1.310,1.320,29300,12.98,3,KMLOONG,KIM LOONG RESOURCES BHD
445,5049.KL,Country View Bhd,0.13000,2015,1.400,1.400,2000,9.29,3,CVIEW,COUNTRY VIEW BHD
446,5049.KL,Country View Bhd,0.10000,2016,1.400,1.400,2000,7.14,3,CVIEW,COUNTRY VIEW BHD
448,5053.KL,OSK Holdings Berhad,0.07500,2015,0.990,0.980,343200,7.58,3,OSK,OSK HOLDINGS BHD
450,5053.KL,OSK Holdings Berhad,0.07500,2017,0.990,0.980,343200,7.58,3,OSK,OSK HOLDINGS BHD
457,5062.KL,Hua Yang Bhd,0.13000,2015,0.470,0.460,204900,27.66,3,HUAYANG,HUA YANG BHD
458,5062.KL,Hua Yang Bhd,0.05000,2016,0.470,0.460,204900,10.64,3,HUAYANG,HUA YANG BHD
459,5062.KL,Hua Yang Bhd,0.04000,2017,0.470,0.460,204900,8.51,3,HUAYANG,HUA YANG BHD
469,5070.KL,Protasco Bhd,0.08000,2015,0.500,0.500,1084400,16.00,3,PRTASCO,PROTASCO BHD
470,5070.KL,Protasco Bhd,0.05000,2016,0.500,0.500,1084400,10.00,3,PRTASCO,PROTASCO BHD
471,5070.KL,Protasco Bhd,0.06000,2017,0.500,0.500,1084400,12.00,3,PRTASCO,PROTASCO BHD
486,5084.KL,Ibraco Berhad,0.03500,2015,0.510,0.510,100,6.86,3,IBRACO,IBRACO BHD
487,5084.KL,Ibraco Berhad,0.03500,2016,0.510,0.510,100,6.86,3,IBRACO,IBRACO BHD
489,5088.KL,Apex Equity Holdings Berhad,0.12000,2015,1.040,1.000,15000,11.54,3,APEX,APEX EQUITY HOLDINGS BHD
492,5090.KL,Media Chinese International Limited,0.07753,2015,0.320,0.310,148500,24.23,3,MEDIAC,MEDIA CHINESE INTERNATIONAL LTD
493,5090.KL,Media Chinese International Limited,0.07434,2016,0.320,0.310,148500,23.23,3,MEDIAC,MEDIA CHINESE INTERNATIONAL LTD
494,5090.KL,Media Chinese International Limited,0.05840,2017,0.320,0.310,148500,18.25,3,MEDIAC,MEDIA CHINESE INTERNATIONAL LTD
496,5092.KL,LCTH Corp. Bhd,0.04000,2016,0.575,0.580,524900,6.96,3,NaN,NaN
500,5094.KL,CSC Steel Holdings Bhd,0.10000,2017,1.320,1.320,116700,7.58,3,CSCSTEL,CSC STEEL HOLDINGS BHD
503,5095.KL,HeveaBoard Bhd,0.07700,2017,0.785,0.790,185500,9.81,3,HEVEA,HEVEABOARD BHD
506,5099.KL,AirAsia Berhad,0.24000,2017,3.090,3.090,4937900,7.77,3,AIRASIA,AIRASIA BHD
508,5100.KL,BP Plastics Holding Bhd,0.09000,2016,0.970,1.000,14700,9.28,3,BPPLAS,BP PLASTICS HOLDING BHD